<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% load static %}
    <link rel="stylesheet" href="{% static 'sheets_to_web/styles.css' %}">
    {% block title %}<title>Title</title>{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
    <header>
        <img src="{% static 'sheets_to_web/logo.png' %}" height="80px">
    </header>
    {% block content %}{% endblock %}
    <footer>
    </footer>
</body>
</html>